<div class="row">
	<div class="col-md-12 timeline-container" #timeline>
		<svg width="timeline.offsetWidth" height="100">
			<line x1="0" y1="50" [attr.x2]="timeline.offsetWidth" y2="50" stroke-width="5" stroke="lightgray"  />
			<line x1="0" y1="50" y2="50" [attr.x2]="getWidth(selectedIndex,timeline.offsetWidth)" stroke="lightblue" stroke-width="5" />

			<circle *ngFor="let item of config; let i = index" class="clickable-item" [attr.cx]="getWidth(i, timeline.offsetWidth)" cy="50"
			 r="10" [attr.stroke]="getColor(i)" fill="white" stroke-width="5" (click)="click(item, i)" />

		</svg>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="text-center">
			<h1>{{selectedPage.title}}</h1>
			<h3>{{selectedPage.subTitle}}</h3>
		</div>
	</div>
</div>
<div class="row" *ngFor="let component of selectedPage.components">
	<div class="col-md-12" *ngIf="component.componentType == 'image'">
		<carousel>
			<slide *ngFor="let image of component.images">
				<img *ngIf="image" src="{{image.path}}" style="display: block; width: 100%;" />
				<div *ngIf="image && (image.caption || image.subCaption)" class="carousel-caption d-none d-md-block">
					<h3 *ngIf="image.caption">{{image.caption}}</h3>
					<p *ngIf="image.subCaption">{{image.subCaption}}</p>
				</div>
			</slide>
		</carousel>
    </div>
    <div class = "col-md-6 col-md-offset-3" *ngIf="component.componentType =='text'">
      <p>{{component.content}}</p>
    </div>
	</div>
  